<div *ngIf="model">
  <h1>{{survey.title}}</h1>
    <button value="Save" (click)="save()">Save</button>
    

    <div *ngFor="let question of survey.questions">
        <h3>{{question.text}}</h3>
        <!--<b>{{question.questionType}}</b>-->
        <div *ngFor="let answer of question.answers">
            <!--<i>{{answer.answer}}</i>-->
            <input *ngIf="question.questionType===0" type="radio" name="{{question.text}}"
                   value="{{answer.answer}}" (click)="selectAnswer(question, answer.answer)" [checked] ="selected(question, answer.answer)">
            <input *ngIf="question.questionType===1" type="checkbox" name="answers[]"
                   value="{{answer.answer}}" (click)="selectAnswer(question, answer.answer)" [checked] ="selected(question, answer.answer)"> {{answer.answer}}
        </div>
    </div>
  <button value="Save" (click)="save()">Save</button>
</div>

